# Import packages

In [2]:
import scanpy as sc
import anndata
import numpy as np
import gc
import pandas as pd 
pd.set_option('display.max_columns', None)
from biomart import BiomartServer
from datetime import date
import os
gc.isenabled()

True

# Query the server

In [2]:
server = BiomartServer("http://www.ensembl.org/biomart")

In [3]:
ensembl = server.datasets['hsapiens_gene_ensembl']

In [4]:
columns = ['ensembl_gene_id','external_gene_name','mmusculus_homolog_ensembl_gene', 
           'mmusculus_homolog_orthology_type', 'mmusculus_homolog_associated_gene_name']

In [5]:
response = ensembl.search({'attributes' : columns,
                           'mart_instance' : 'ensembl'})

In [6]:
mapping_df = pd.read_csv(response.url, sep='\t', header=None, names=columns)

In [7]:
mapping_df

,ensembl_gene_id,external_gene_name,mmusculus_homolog_ensembl_gene,mmusculus_homolog_orthology_type,mmusculus_homolog_associated_gene_name
0,ENSG00000210049,MT-TF,NaN,NaN,NaN
1,ENSG00000211459,MT-RNR1,NaN,NaN,NaN
2,ENSG00000210077,MT-TV,NaN,NaN,NaN
3,ENSG00000210082,MT-RNR2,NaN,NaN,NaN
4,ENSG00000209082,MT-TL1,NaN,NaN,NaN
...,...,...,...,...,...
75771,ENSG00000162437,RAVER2,ENSMUSG00000035275,ortholog_one2one,Raver2
75772,ENSG00000122432,SPATA1,ENSMUSG00000028188,ortholog_one2one,Spata1
75773,ENSG00000284882,NaN,NaN,NaN,NaN
75774,ENSG00000289881,NaN,NaN,NaN,NaN
75775,ENSG00000285325,NaN,NaN,NaN,NaN

In [8]:
columns2 = ['ensembl_gene_id','entrezgene_id']

New query because 'entrezgene_id' is not on the same page

In [9]:
response2 = ensembl.search({'attributes' : columns2,
                           'mart_instance' : 'ensembl'})

In [10]:
ncbi_id = pd.read_csv(response2.url, sep='\t', header=None, names=columns2)

# Import human and mouse data

In [3]:
os.path.realpath('ensembl_query.ipynb')

'/nfs/research/irene/anaelle/CrossSpeciesIC/expiMap/object_human_mouse/ensembl_query.ipynb'

In [ ]:
path_project = '/nfs/research/irene/anaelle/CrossSpeciesIC/' #change this path to your directory
print(path_project)
path_scripts = os.path.join(path_project, 'expiMap', 'object_human_mouse') #change this path
print(path_scripts)
path_data = os.path.join(path_project, 'data')
print(path_data)

In [14]:
mouse_data = sc.read_h5ad(os.path.join(path_data,'mouse_raw_counts_from_cellxgene.h5ad'))

In [15]:
human_data = sc.read_h5ad(os.path.join(path_data, 'hdata2023-06-05.h5ad'))

/nfs/research/irene/anaelle/miniconda3/lib/python3.10/site-packages/anndata/_core/anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
/nfs/research/irene/anaelle/miniconda3/lib/python3.10/site-packages/anndata/_core/anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

# Get the human genes

In [118]:
human_ncbi_id = ncbi_id[ncbi_id.entrezgene_id.isin(human_data.var.entrez_id)]

In [119]:
human_ncbi_id

       ensembl_gene_id  entrezgene_id
5      ENSG00000198888         4535.0
9      ENSG00000198763         4536.0
15     ENSG00000198804         4512.0
18     ENSG00000198712         4513.0
20     ENSG00000228253         4509.0
...                ...            ...
75101  ENSG00000198216          777.0
75102  ENSG00000179930       127665.0
75112  ENSG00000264470    100616338.0
75113  ENSG00000162437        55225.0
75114  ENSG00000122432    100505741.0

[28838 rows x 2 columns]

In [109]:
human_mouse_df = mapping_df[mapping_df.ensembl_gene_id.isin(human_ncbi_id.ensembl_gene_id)]

In [110]:
human_mouse_df

,ensembl_gene_id,external_gene_name,mmusculus_homolog_ensembl_gene,mmusculus_homolog_orthology_type,mmusculus_homolog_associated_gene_name
5,ENSG00000198888,MT-ND1,ENSMUSG00000064341,ortholog_one2one,mt-Nd1
9,ENSG00000198763,MT-ND2,ENSMUSG00000064345,ortholog_one2one,mt-Nd2
15,ENSG00000198804,MT-CO1,ENSMUSG00000064351,ortholog_one2one,mt-Co1
18,ENSG00000198712,MT-CO2,ENSMUSG00000064354,ortholog_one2one,mt-Co2
20,ENSG00000228253,MT-ATP8,ENSMUSG00000064356,ortholog_one2one,mt-Atp8
...,...,...,...,...,...
75759,ENSG00000198216,CACNA1E,ENSMUSG00000004110,ortholog_one2one,Cacna1e
75760,ENSG00000179930,ZNF648,ENSMUSG00000066797,ortholog_one2one,Zfp648
75770,ENSG00000264470,MIR4794,NaN,NaN,NaN
75771,ENSG00000162437,RAVER2,ENSMUSG00000035275,ortholog_one2one,Raver2
75772,ENSG00000122432,SPATA1,ENSMUSG00000028188,ortholog_one2one,Spata1

# Get the mouse genes

In [24]:
mouse_data.var.index

Index(['ENSMUSG00000029422', 'ENSMUSG00000114536', 'ENSMUSG00000049036',
       'ENSMUSG00000029577', 'ENSMUSG00000040746', 'ENSMUSG00000020590',
       'ENSMUSG00000096963', 'ENSMUSG00000030263', 'ENSMUSG00000038914',
       'ENSMUSG00000098447',
       ...
       'ENSMUSG00000101706', 'ENSMUSG00000073052', 'ENSMUSG00000113410',
       'ENSMUSG00000102368', 'ENSMUSG00000021033', 'ENSMUSG00000100416',
       'ENSMUSG00000096169', 'ENSMUSG00000030657', 'ENSMUSG00000037924',
       'ENSMUSG00000040693'],
      dtype='object', name='feature_id', length=30639)

In [113]:
human_mouse_df = human_mouse_df[human_mouse_df.mmusculus_homolog_ensembl_gene.isin(mouse_data.var.index)]

In [114]:
human_mouse_df

,ensembl_gene_id,external_gene_name,mmusculus_homolog_ensembl_gene,mmusculus_homolog_orthology_type,mmusculus_homolog_associated_gene_name
5,ENSG00000198888,MT-ND1,ENSMUSG00000064341,ortholog_one2one,mt-Nd1
9,ENSG00000198763,MT-ND2,ENSMUSG00000064345,ortholog_one2one,mt-Nd2
15,ENSG00000198804,MT-CO1,ENSMUSG00000064351,ortholog_one2one,mt-Co1
18,ENSG00000198712,MT-CO2,ENSMUSG00000064354,ortholog_one2one,mt-Co2
20,ENSG00000228253,MT-ATP8,ENSMUSG00000064356,ortholog_one2one,mt-Atp8
...,...,...,...,...,...
75758,ENSG00000187017,ESPN,ENSMUSG00000028943,ortholog_one2one,Espn
75759,ENSG00000198216,CACNA1E,ENSMUSG00000004110,ortholog_one2one,Cacna1e
75760,ENSG00000179930,ZNF648,ENSMUSG00000066797,ortholog_one2one,Zfp648
75771,ENSG00000162437,RAVER2,ENSMUSG00000035275,ortholog_one2one,Raver2
75772,ENSG00000122432,SPATA1,ENSMUSG00000028188,ortholog_one2one,Spata1

In [115]:
human_mouse_df.ensembl_gene_id.duplicated().sum()

4583

In [116]:
human_mouse_df.mmusculus_homolog_ensembl_gene.duplicated().sum()

3673

# Add the entrezgene_id

In [120]:
human_ncbi_id

       ensembl_gene_id  entrezgene_id
5      ENSG00000198888         4535.0
9      ENSG00000198763         4536.0
15     ENSG00000198804         4512.0
18     ENSG00000198712         4513.0
20     ENSG00000228253         4509.0
...                ...            ...
75101  ENSG00000198216          777.0
75102  ENSG00000179930       127665.0
75112  ENSG00000264470    100616338.0
75113  ENSG00000162437        55225.0
75114  ENSG00000122432    100505741.0

[28838 rows x 2 columns]

In [121]:
human_ncbi_id.ensembl_gene_id.duplicated().sum()

290

## Check ids duplicates

In [122]:
human_ncbi_id[human_ncbi_id.ensembl_gene_id.duplicated()]

       ensembl_gene_id  entrezgene_id
724    ENSG00000267635    100507608.0
905    ENSG00000275517       653247.0
987    ENSG00000273772         6607.0
1049   ENSG00000276910       728340.0
1058   ENSG00000274166       647042.0
...                ...            ...
74887  ENSG00000290825    100287102.0
74888  ENSG00000290825    100287596.0
74889  ENSG00000290825    102725121.0
74942  ENSG00000291158       388692.0
74976  ENSG00000158747    100532736.0

[290 rows x 2 columns]

In [123]:
duplicates = human_ncbi_id[human_ncbi_id.ensembl_gene_id.isin(human_ncbi_id[human_ncbi_id.ensembl_gene_id.duplicated()].ensembl_gene_id)]

In [124]:
duplicates

       ensembl_gene_id  entrezgene_id
723    ENSG00000267635    100505724.0
724    ENSG00000267635    100507608.0
904    ENSG00000275517         5542.0
905    ENSG00000275517       653247.0
986    ENSG00000273772         6606.0
...                ...            ...
74889  ENSG00000290825    102725121.0
74941  ENSG00000291158        57234.0
74942  ENSG00000291158       388692.0
74975  ENSG00000158747         4681.0
74976  ENSG00000158747    100532736.0

[556 rows x 2 columns]

In [125]:
human_duplicates = {}
for index, row in duplicates.iterrows():
    if row['ensembl_gene_id'] not in human_duplicates.keys():
        human_duplicates[row['ensembl_gene_id']] = []
    human_duplicates[row['ensembl_gene_id']].append(row.entrezgene_id)

In [126]:
len(human_duplicates.keys())

266

In [127]:
human_duplicates

{'ENSG00000267635': [100505724.0, 100507608.0],
 'ENSG00000275517': [5542.0, 653247.0],
 'ENSG00000273772': [6606.0, 6607.0],
 'ENSG00000276910': [2966.0, 728340.0],
 'ENSG00000274166': [643707.0, 647042.0, 102724117.0],
 'ENSG00000277429': [8293.0, 728492.0],
 'ENSG00000229071': [80863.0, 100507547.0],
 'ENSG00000239927': [79897.0, 202658.0],
 'ENSG00000241863': [79897.0, 202658.0],
 'ENSG00000274729': [245908.0, 504180.0],
 'ENSG00000274540': [100131608.0, 100133251.0],
 'ENSG00000275444': [1673.0, 100289462.0],
 'ENSG00000281040': [441317.0, 441327.0],
 'ENSG00000277530': [245910.0, 503614.0],
 'ENSG00000276299': [441873.0, 645359.0],
 'ENSG00000263247': [5554.0, 11272.0],
 'ENSG00000282475': [440243.0, 645202.0],
 'ENSG00000275045': [2966.0, 728340.0],
 'ENSG00000243009': [79897.0, 202658.0],
 'ENSG00000278632': [414059.0, 101060321.0],
 'ENSG00000275748': [51326.0, 100506084.0],
 'ENSG00000275003': [1652.0, 100037417.0],
 'ENSG00000278232': [1394.0, 104909134.0],
 'ENSG00000276725': [9859.0, 645455.0],
 'ENSG00000282673': [5542.0, 653247.0],
 'ENSG00000282269': [5554.0, 11272.0],
 'ENSG00000278839': [8293.0, 728492.0],
 'ENSG00000277626': [7473.0, 101929777.0],
 'ENSG00000225141': [80863.0, 100507547.0],
 'ENSG00000277641': [7473.0, 101929777.0],
 'ENSG00000277773': [6606.0, 6607.0],
 'ENSG00000241779': [79897.0, 202658.0],
 'ENSG00000238056': [80863.0, 100507547.0],
 'ENSG00000282456': [1394.0, 104909134.0],
 'ENSG00000275153': [101060351.0, 102723859.0],
 'ENSG00000276191': [1394.0, 104909134.0],
 'ENSG00000276349': [729873.0, 101060376.0],
 'ENSG00000114374': [8287.0, 64595.0],
 'ENSG00000276276': [51326.0, 100506084.0],
 'ENSG00000242726': [79897.0, 202658.0],
 'ENSG00000274352': [286075.0, 101928160.0],
 'ENSG00000274175': [653550.0, 102724101.0],
 'ENSG00000228240': [252949.0, 474152.0],
 'ENSG00000278308': [642778.0, 642799.0],
 'ENSG00000273807': [100288332.0, 105376752.0],
 'ENSG00000235956': [80863.0, 100507547.0],
 'ENSG00000206301': [3117.0, 3118.0],
 'ENSG00000281994': [9284.0, 642799.0],
 'ENSG00000231526': [3117.0, 3118.0],
 'ENSG00000227122': [80863.0, 100507547.0],
 'ENSG00000233192': [3117.0, 3118.0],
 'ENSG00000206331': [80863.0, 100507547.0],
 'ENSG00000227439': [474151.0, 474152.0],
 'ENSG00000239865': [79897.0, 202658.0],
 'ENSG00000229488': [80863.0, 100507547.0],
 'ENSG00000205611': [101928906.0, 102723678.0],
 'ENSG00000274939': [414059.0, 101060321.0],
 'ENSG00000291016': [84559.0, 401634.0],
 'ENSG00000291031': [286554.0, 105377223.0],
 'ENSG00000282566': [441873.0, 645359.0],
 'ENSG00000284076': [653075.0, 653125.0],
 'ENSG00000282773': [727909.0, 728047.0],
 'ENSG00000257473': [3117.0, 3118.0],
 'ENSG00000222018': [101928147.0, 102723451.0],
 'ENSG00000282902': [3963.0, 653499.0],
 'ENSG00000283082': [3963.0, 653499.0],
 'ENSG00000266256': [284276.0, 400660.0],
 'ENSG00000223793': [3117.0, 3118.0],
 'ENSG00000283348': [441873.0, 645359.0],
 'ENSG00000215378': [170949.0, 100287083.0],
 'ENSG00000156273': [571.0, 100379661.0],
 'ENSG00000281880': [440034.0, 103157000.0],
 'ENSG00000159216': [861.0, 100506403.0],
 'ENSG00000231823': [3117.0, 3118.0],
 'ENSG00000205670': [54065.0, 102723553.0],
 'ENSG00000285832': [441317.0, 441327.0],
 'ENSG00000284870': [100131608.0, 100133251.0],
 'ENSG00000284979': [245910.0, 503614.0],
 'ENSG00000285015': [245908.0, 504180.0],
 'ENSG00000285433': [1673.0, 100289462.0],
 'ENSG00000284781': [392188.0, 645402.0],
 'ENSG00000225103': [3117.0, 3118.0],
 'ENSG00000285962': [441327.0, 645651.0],
 'ENSG00000285432': [245910.0, 503614.0],
 'ENSG00000284978': [55894.0, 414325.0],
 'ENSG00000285181': [1673.0, 100289462.0],
 'ENSG00000284990': [377630.0, 401447.0],
 'ENSG00000285479': [775.0, 100874369.0],
 'ENSG00000160200': [875.0, 102724560.0],
 'ENSG00000160202': [1409.0, 102724652.0],
 'ENSG00000160201': [7307.0, 102724594.0],
 'ENSG00000285168': [100169754.0, 100169763.0],
 'ENSG00000230417': [414243.0, 100132987.0],
 'ENSG00000274391': [7179.0, 105379278.0],
 'ENSG00000288273': [255313.0, 728062.0],
 'ENSG00000168746': [140834.0, 101927242.0],
 'ENSG00000290633': [727856.0, 100287596.0, 100288486.0],
 'ENSG00000226725': [101928345.0, 101928380.0],
 'ENSG00000254911': [619383.0, 100158262.0],
 'ENSG00000186854': [129293.0, 105374836.0],
 'ENSG00000115239': [51130.0, 100302652.0],
 'ENSG00000234289': [54145.0, 102724334.0],
 'ENSG00000224533': [100507404.0, 101927830.0],
 'ENSG00000205571': [6606.0, 6607.0],
 'ENSG00000166272': [54838.0, 102724307.0],
 'ENSG00000253434': [105375706.0, 105375707.0],
 'ENSG00000213999': [4207.0, 100271849.0],
 'ENSG00000063587': [10838.0, 105373378.0],
 'ENSG00000259905': [791114.0, 101928840.0],
 'ENSG00000149557': [9638.0, 105369550.0],
 'ENSG00000275496': [102723360.0, 102724701.0],
 'ENSG00000213809': [22914.0, 100528032.0],
 'ENSG00000176124': [10301.0, 100874074.0],
 'ENSG00000160223': [23308.0, 102723996.0],
 'ENSG00000234394': [440896.0, 101929800.0],
 'ENSG00000229425': [101927745.0, 105369302.0],
 'ENSG00000144455': [285362.0, 100130207.0],
 'ENSG00000231304': [100874028.0, 101927829.0],
 'ENSG00000242147': [102723629.0, 105376382.0],
 'ENSG00000137962': [9411.0, 105378858.0],
 'ENSG00000181135': [286075.0, 101928160.0],
 'ENSG00000079974': [11158.0, 11159.0],
 'ENSG00000163156': [79005.0, 100534012.0],
 'ENSG00000263715': [1394.0, 104909134.0],
 'ENSG00000226023': [255313.0, 728062.0],
 'ENSG00000205572': [8293.0, 728492.0],
 'ENSG00000215483': [400123.0, 646982.0],
 'ENSG00000287664': [102723851.0, 102724956.0, 105371853.0],
 'ENSG00000267452': [440446.0, 105371828.0],
 'ENSG00000268350': [29057.0, 727866.0],
 'ENSG00000124343': [7499.0, 100132596.0],
 'ENSG00000269502': [63947.0, 728656.0],
 'ENSG00000257365': [2342.0, 100529261.0],
 'ENSG00000186047': [220107.0, 103689915.0],
 'ENSG00000237289': [1159.0, 548596.0],
 'ENSG00000223572': [1159.0, 548596.0],
 'ENSG00000158301': [114928.0, 100528062.0],
 'ENSG00000189064': [645037.0, 729408.0, 729447.0],
 'ENSG00000169627': [552900.0, 654483.0],
 'ENSG00000132207': [79008.0, 548593.0],
 'ENSG00000184110': [8663.0, 728689.0],
 'ENSG00000099977': [1652.0, 100037417.0],
 'ENSG00000262628': [8386.0, 653166.0],
 'ENSG00000288811': [105372935.0, 105372942.0, 105377182.0],
 'ENSG00000179304': [29057.0, 727866.0],
 'ENSG00000105793': [85865.0, 101927446.0],
 'ENSG00000230124': [84320.0, 100527964.0],
 'ENSG00000278637': [8359.0, 554313.0],
 'ENSG00000277157': [8360.0, 554313.0],
 'ENSG00000239149': [677882.0, 677885.0],
 'ENSG00000152082': [80097.0, 653784.0],
 'ENSG00000120709': [51307.0, 100128966.0],
 'ENSG00000197912': [6687.0, 101930112.0],
 'ENSG00000004866': [7982.0, 93655.0],
 'ENSG00000157335': [283971.0, 497190.0],
 'ENSG00000223443': [377630.0, 401447.0],
 'ENSG00000105889': [256227.0, 401312.0],
 'ENSG00000178934': [3963.0, 653499.0],
 'ENSG00000237541': [3117.0, 3118.0],
 'ENSG00000183889': [100288332.0, 105376752.0],
 'ENSG00000275126': [8368.0, 554313.0],
 'ENSG00000213160': [151230.0, 100526832.0],
 'ENSG00000236125': [392188.0, 645402.0],
 'ENSG00000177257': [1673.0, 100289462.0],
 'ENSG00000186599': [245908.0, 504180.0],
 'ENSG00000198129': [245910.0, 503614.0],
 'ENSG00000255251': [100131608.0, 100133251.0],
 'ENSG00000186572': [245910.0, 503614.0],
 'ENSG00000101883': [158800.0, 104797536.0],
 'ENSG00000176797': [55894.0, 414325.0],
 'ENSG00000171711': [1673.0, 100289462.0],
 'ENSG00000274618': [8361.0, 554313.0],
 'ENSG00000285975': [441317.0, 441327.0],
 'ENSG00000285607': [441327.0, 645651.0],
 'ENSG00000231131': [101928687.0, 105378305.0],
 'ENSG00000229140': [137196.0, 728724.0],
 'ENSG00000197061': [8364.0, 554313.0],
 'ENSG00000258537': [145438.0, 100874185.0, 105370496.0],
 'ENSG00000171714': [203859.0, 102723370.0],
 'ENSG00000249738': [285626.0, 105377683.0],
 'ENSG00000223403': [378881.0, 100507257.0],
 'ENSG00000158406': [8365.0, 554313.0],
 'ENSG00000158169': [2176.0, 105376156.0],
 'ENSG00000214900': [196913.0, 283551.0],
 'ENSG00000205076': [3963.0, 653499.0],
 'ENSG00000241370': [79897.0, 202658.0],
 'ENSG00000197238': [8363.0, 554313.0],
 'ENSG00000273542': [8362.0, 554313.0],
 'ENSG00000112541': [10846.0, 90632.0],
 'ENSG00000237850': [440243.0, 645202.0],
 'ENSG00000225194': [100188953.0, 105376159.0],
 'ENSG00000180071': [253650.0, 100289137.0],
 'ENSG00000262461': [643862.0, 643909.0, 102723849.0],
 'ENSG00000275976': [643862.0, 643909.0, 100996746.0, 102723849.0],
 'ENSG00000286038': [641776.0, 105180390.0, 105180391.0],
 'ENSG00000286014': [641776.0, 105180390.0, 105180391.0],
 'ENSG00000186645': [643862.0, 643909.0, 102723849.0],
 'ENSG00000143384': [4170.0, 574406.0],
 'ENSG00000278662': [643707.0, 647042.0, 102724117.0],
 'ENSG00000274570': [643862.0, 643909.0, 102723849.0],
 'ENSG00000273520': [643862.0, 643909.0, 728524.0, 102723849.0],
 'ENSG00000178115': [727909.0, 728047.0],
 'ENSG00000261247': [653075.0, 653125.0],
 'ENSG00000278705': [8366.0, 554313.0],
 'ENSG00000276966': [8367.0, 554313.0],
 'ENSG00000276180': [8294.0, 554313.0],
 'ENSG00000111850': [57150.0, 63914.0],
 'ENSG00000145736': [2966.0, 728340.0],
 'ENSG00000278970': [643836.0, 100859930.0],
 'ENSG00000111671': [84727.0, 105369632.0],
 'ENSG00000230178': [26683.0, 81399.0],
 'ENSG00000224897': [401398.0, 101928283.0],
 'ENSG00000290824': [727856.0, 100287596.0, 100288486.0],
 'ENSG00000274611': [414060.0, 729873.0],
 'ENSG00000204314': [80863.0, 100507547.0],
 'ENSG00000196605': [162993.0, 100505555.0],
 'ENSG00000224712': [642778.0, 642799.0],
 'ENSG00000291153': [64940.0, 101929736.0],
 'ENSG00000291154': [5380.0, 5382.0],
 'ENSG00000199337': [100169754.0, 100169763.0],
 'ENSG00000126861': [4974.0, 101927057.0],
 'ENSG00000274512': [729873.0, 101060376.0],
 'ENSG00000286137': [641776.0, 105180390.0, 105180391.0],
 'ENSG00000261509': [653550.0, 729355.0, 102724101.0],
 'ENSG00000275034': [653550.0, 102724101.0],
 'ENSG00000183632': [24150.0, 653550.0, 102724101.0],
 'ENSG00000170667': [10156.0, 100271927.0],
 'ENSG00000290751': [6953.0, 401285.0],
 'ENSG00000174876': [277.0, 279.0],
 'ENSG00000213904': [100996307.0, 101930071.0],
 'ENSG00000233098': [339260.0, 440416.0],
 'ENSG00000203668': [1122.0, 23596.0],
 'ENSG00000290355': [727856.0, 100287029.0],
 'ENSG00000278848': [653550.0, 102724101.0, 102724127.0],
 'ENSG00000205457': [653550.0, 102724101.0],
 'ENSG00000233024': [100288332.0, 105376752.0],
 'ENSG00000185164': [283820.0, 102723728.0],
 'ENSG00000183426': [9284.0, 642799.0],
 'ENSG00000251655': [5542.0, 653247.0],
 'ENSG00000197837': [121504.0, 554313.0],
 'ENSG00000188629': [7730.0, 100529215.0],
 'ENSG00000236107': [101929680.0, 102724058.0],
 'ENSG00000245552': [100129203.0, 101929295.0],
 'ENSG00000273513': [101060351.0, 102723859.0],
 'ENSG00000111215': [5554.0, 11272.0],
 'ENSG00000151067': [775.0, 100874369.0],
 'ENSG00000270882': [8370.0, 554313.0],
 'ENSG00000196242': [81472.0, 148824.0],
 'ENSG00000283154': [29970.0, 100505385.0],
 'ENSG00000274808': [414059.0, 101060321.0],
 'ENSG00000178882': [144347.0, 100533183.0],
 'ENSG00000227036': [400619.0, 100499467.0],
 'ENSG00000185829': [51326.0, 100506084.0],
 'ENSG00000120088': [1394.0, 104909134.0],
 'ENSG00000228696': [51326.0, 100506084.0],
 'ENSG00000108379': [7473.0, 101929777.0],
 'ENSG00000228262': [104355287.0, 104355288.0],
 'ENSG00000237298': [100506866.0, 101927055.0],
 'ENSG00000290614': [150527.0, 646743.0],
 'ENSG00000229571': [441873.0, 645359.0],
 'ENSG00000233008': [101927560.0, 101927587.0],
 'ENSG00000284733': [81399.0, 729759.0],
 'ENSG00000143702': [9859.0, 645455.0],
 'ENSG00000290825': [84771.0, 727856.0, 100287102.0, 100287596.0, 102725121.0],
 'ENSG00000291158': [57234.0, 388692.0],
 'ENSG00000158747': [4681.0, 100532736.0]}

## Keep only the first

In [128]:
genes_removed = []
for gene in human_duplicates.keys():
    for entrez_id in range(1,len(human_duplicates[gene])):
        genes_removed.append(human_duplicates[gene][entrez_id])

In [129]:
len(genes_removed) #Same length as the duplicates in human_ncbi_id df

290

In [130]:
human_ncbi_id[~human_ncbi_id.entrezgene_id.isin(genes_removed)].duplicated().any()

False

In [135]:
human_genes = human_ncbi_id[~human_ncbi_id.entrezgene_id.isin(genes_removed)]

In [137]:
human_genes.ensembl_gene_id.duplicated().any()

False

In [215]:
human_genes.loc[human_genes.ensembl_gene_id == 'ENSG00000198888'].entrezgene_id.iloc[0]

4535.0

In [217]:
'ENSG00000198804' in human_genes.ensembl_gene_id.values

True

In [205]:
human_genes

       ensembl_gene_id  entrezgene_id
5      ENSG00000198888         4535.0
9      ENSG00000198763         4536.0
15     ENSG00000198804         4512.0
18     ENSG00000198712         4513.0
20     ENSG00000228253         4509.0
...                ...            ...
75101  ENSG00000198216          777.0
75102  ENSG00000179930       127665.0
75112  ENSG00000264470    100616338.0
75113  ENSG00000162437        55225.0
75114  ENSG00000122432    100505741.0

[28485 rows x 2 columns]

## Check entrez_id doublets

In [249]:
human_mouse_homolog_genes[human_mouse_homolog_genes.human_entrezgene_id.duplicated()]

,human_ensembl_gene_id,human_entrezgene_id,human_external_gene_name,mouse_homolog_ensembl_gene,orthology_type,mouse_homolog_gene_name
16,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000113201,ortholog_one2many,Eif1ad13
17,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079031,ortholog_one2many,Eif1ad2
18,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079029,ortholog_one2many,Eif1ad7
19,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000093847,ortholog_one2many,Eif1ad15
20,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000113971,ortholog_one2many,Eif1ad4
...,...,...,...,...,...,...
21880,ENSG00000143549,7170.0,TPM3,ENSMUSG00000058126,ortholog_one2many,Tpm3-rs7
21931,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055610,ortholog_one2many,Or14a260
21932,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062042,ortholog_one2many,Or14a256
21933,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055571,ortholog_one2many,Or14a259
21934,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062426,ortholog_one2many,Or14a258

In [250]:
entrez_dup = human_mouse_homolog_genes[human_mouse_homolog_genes.human_entrezgene_id.isin(human_mouse_homolog_genes[human_mouse_homolog_genes.human_entrezgene_id.duplicated()].human_entrezgene_id)]

In [251]:
entrez_dup

,human_ensembl_gene_id,human_entrezgene_id,human_external_gene_name,mouse_homolog_ensembl_gene,orthology_type,mouse_homolog_gene_name
13,ENSG00000277196,5625.0,PRODH,ENSMUSG00000003526,ortholog_one2many,Prodh
15,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000057561,ortholog_one2many,Eif1a
16,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000113201,ortholog_one2many,Eif1ad13
17,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079031,ortholog_one2many,Eif1ad2
18,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079029,ortholog_one2many,Eif1ad7
...,...,...,...,...,...,...
21930,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062878,ortholog_one2many,Or14a257
21931,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055610,ortholog_one2many,Or14a260
21932,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062042,ortholog_one2many,Or14a256
21933,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055571,ortholog_one2many,Or14a259
21934,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062426,ortholog_one2many,Or14a258

In [260]:
entrezid = {}
for index, row in entrez_dup.iterrows():
    if row['human_entrezgene_id'] not in entrezid.keys():
        entrezid[row['human_entrezgene_id']] = []
    if row.human_ensembl_gene_id not in entrezid[row['human_entrezgene_id']]:
        entrezid[row['human_entrezgene_id']].append(row.human_ensembl_gene_id)

In [261]:
len(entrezid.keys())

759

## Create new dataframe

In [206]:
human_mouse_df.head(20)

,ensembl_gene_id,external_gene_name,mmusculus_homolog_ensembl_gene,mmusculus_homolog_orthology_type,mmusculus_homolog_associated_gene_name
5,ENSG00000198888,MT-ND1,ENSMUSG00000064341,ortholog_one2one,mt-Nd1
9,ENSG00000198763,MT-ND2,ENSMUSG00000064345,ortholog_one2one,mt-Nd2
15,ENSG00000198804,MT-CO1,ENSMUSG00000064351,ortholog_one2one,mt-Co1
18,ENSG00000198712,MT-CO2,ENSMUSG00000064354,ortholog_one2one,mt-Co2
20,ENSG00000228253,MT-ATP8,ENSMUSG00000064356,ortholog_one2one,mt-Atp8
21,ENSG00000198899,MT-ATP6,ENSMUSG00000064357,ortholog_one2one,mt-Atp6
22,ENSG00000198938,MT-CO3,ENSMUSG00000064358,ortholog_one2one,mt-Co3
24,ENSG00000198840,MT-ND3,ENSMUSG00000064360,ortholog_one2one,mt-Nd3
26,ENSG00000212907,MT-ND4L,ENSMUSG00000065947,ortholog_one2one,mt-Nd4l
27,ENSG00000198886,MT-ND4,ENSMUSG00000064363,ortholog_one2one,mt-Nd4
31,ENSG00000198786,MT-ND5,ENSMUSG00000064367,ortholog_one2one,mt-Nd5
32,ENSG00000198695,MT-ND6,ENSMUSG00000064368,ortholog_one2one,mt-Nd6
34,ENSG00000198727,MT-CYB,ENSMUSG00000064370,ortholog_one2one,mt-Cytb
318,ENSG00000277196,PRODH,ENSMUSG00000003526,ortholog_one2many,Prodh
3005,ENSG00000114374,USP9Y,ENSMUSG00000069044,ortholog_one2one,Usp9y
3147,ENSG00000198692,EIF1AY,ENSMUSG00000057561,ortholog_one2many,Eif1a
3148,ENSG00000198692,EIF1AY,ENSMUSG00000113201,ortholog_one2many,Eif1ad13
3149,ENSG00000198692,EIF1AY,ENSMUSG00000079031,ortholog_one2many,Eif1ad2
3150,ENSG00000198692,EIF1AY,ENSMUSG00000079029,ortholog_one2many,Eif1ad7
3151,ENSG00000198692,EIF1AY,ENSMUSG00000093847,ortholog_one2many,Eif1ad15

In [183]:
human_mouse_df.loc[human_mouse_df['ensembl_gene_id']=='ENSG00000198888']

,ensembl_gene_id,external_gene_name,mmusculus_homolog_ensembl_gene,mmusculus_homolog_orthology_type,mmusculus_homolog_associated_gene_name
5,ENSG00000198888,MT-ND1,ENSMUSG00000064341,ortholog_one2one,mt-Nd1

In [228]:
human_mouse_df.loc[human_mouse_df['ensembl_gene_id']=='ENSG00000198888'].external_gene_name

5    MT-ND1
Name: external_gene_name, dtype: object

In [220]:
human_mouse_df.mmusculus_homolog_ensembl_gene.hasnans

False

In [226]:
def get_ensembl_gene_info_df():
    rows = []
    for index, row in human_mouse_df.iterrows():
        ensembl_id = row['ensembl_gene_id']
        if ensembl_id in human_genes['ensembl_gene_id'].values:
            entrez_id = human_genes.loc[human_genes['ensembl_gene_id']==ensembl_id].entrezgene_id.iloc[0]
            gene_now ={}
            gene_now['human_ensembl_gene_id'] = ensembl_id
            gene_now['human_entrezgene_id'] = entrez_id
            gene_now['human_external_gene_name'] = row['external_gene_name']
            gene_now['mouse_homolog_ensembl_gene'] = row['mmusculus_homolog_ensembl_gene']
            gene_now['orthology_type'] = row['mmusculus_homolog_orthology_type']
            gene_now['mouse_homolog_gene_name'] = row['mmusculus_homolog_associated_gene_name']
            rows.append(gene_now)
    return rows

In [227]:
rows = get_ensembl_gene_info_df()

In [229]:
human_mouse_homolog_genes = pd.DataFrame(rows)

In [230]:
human_mouse_homolog_genes

,human_ensembl_gene_id,human_entrezgene_id,human_external_gene_name,mouse_homolog_ensembl_gene,orthology_type,mouse_homolog_gene_name
0,ENSG00000198888,4535.0,MT-ND1,ENSMUSG00000064341,ortholog_one2one,mt-Nd1
1,ENSG00000198763,4536.0,MT-ND2,ENSMUSG00000064345,ortholog_one2one,mt-Nd2
2,ENSG00000198804,4512.0,MT-CO1,ENSMUSG00000064351,ortholog_one2one,mt-Co1
3,ENSG00000198712,4513.0,MT-CO2,ENSMUSG00000064354,ortholog_one2one,mt-Co2
4,ENSG00000228253,4509.0,MT-ATP8,ENSMUSG00000064356,ortholog_one2one,mt-Atp8
...,...,...,...,...,...,...
21936,ENSG00000187017,83715.0,ESPN,ENSMUSG00000028943,ortholog_one2one,Espn
21937,ENSG00000198216,777.0,CACNA1E,ENSMUSG00000004110,ortholog_one2one,Cacna1e
21938,ENSG00000179930,127665.0,ZNF648,ENSMUSG00000066797,ortholog_one2one,Zfp648
21939,ENSG00000162437,55225.0,RAVER2,ENSMUSG00000035275,ortholog_one2one,Raver2
21940,ENSG00000122432,100505741.0,SPATA1,ENSMUSG00000028188,ortholog_one2one,Spata1

In [231]:
human_mouse_homolog_genes.human_ensembl_gene_id.duplicated().any()

True

In [234]:
human_mouse_homolog_genes.mouse_homolog_ensembl_gene.duplicated().any()

True

In [232]:
human_mouse_homolog_genes.human_entrezgene_id.hasnans

False

In [233]:
human_mouse_homolog_genes.mouse_homolog_ensembl_gene.hasnans

False

In [235]:
human_mouse_homolog_genes.orthology_type.hasnans

False

In [239]:
human_mouse_homolog_genes.orthology_type.unique()

array(['ortholog_one2one', 'ortholog_one2many', 'ortholog_many2many'],
      dtype=object)

## Check entrez duplicates

In [249]:
human_mouse_homolog_genes[human_mouse_homolog_genes.human_entrezgene_id.duplicated()]

,human_ensembl_gene_id,human_entrezgene_id,human_external_gene_name,mouse_homolog_ensembl_gene,orthology_type,mouse_homolog_gene_name
16,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000113201,ortholog_one2many,Eif1ad13
17,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079031,ortholog_one2many,Eif1ad2
18,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079029,ortholog_one2many,Eif1ad7
19,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000093847,ortholog_one2many,Eif1ad15
20,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000113971,ortholog_one2many,Eif1ad4
...,...,...,...,...,...,...
21880,ENSG00000143549,7170.0,TPM3,ENSMUSG00000058126,ortholog_one2many,Tpm3-rs7
21931,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055610,ortholog_one2many,Or14a260
21932,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062042,ortholog_one2many,Or14a256
21933,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055571,ortholog_one2many,Or14a259
21934,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062426,ortholog_one2many,Or14a258

In [250]:
entrez_dup = human_mouse_homolog_genes[human_mouse_homolog_genes.human_entrezgene_id.isin(human_mouse_homolog_genes[human_mouse_homolog_genes.human_entrezgene_id.duplicated()].human_entrezgene_id)]

In [251]:
entrez_dup

,human_ensembl_gene_id,human_entrezgene_id,human_external_gene_name,mouse_homolog_ensembl_gene,orthology_type,mouse_homolog_gene_name
13,ENSG00000277196,5625.0,PRODH,ENSMUSG00000003526,ortholog_one2many,Prodh
15,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000057561,ortholog_one2many,Eif1a
16,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000113201,ortholog_one2many,Eif1ad13
17,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079031,ortholog_one2many,Eif1ad2
18,ENSG00000198692,9086.0,EIF1AY,ENSMUSG00000079029,ortholog_one2many,Eif1ad7
...,...,...,...,...,...,...
21930,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062878,ortholog_one2many,Or14a257
21931,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055610,ortholog_one2many,Or14a260
21932,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062042,ortholog_one2many,Or14a256
21933,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000055571,ortholog_one2many,Or14a259
21934,ENSG00000241128,388761.0,OR14A2,ENSMUSG00000062426,ortholog_one2many,Or14a258

In [260]:
entrezid = {}
for index, row in entrez_dup.iterrows():
    if row['human_entrezgene_id'] not in entrezid.keys():
        entrezid[row['human_entrezgene_id']] = []
    if row.human_ensembl_gene_id not in entrezid[row['human_entrezgene_id']]:
        entrezid[row['human_entrezgene_id']].append(row.human_ensembl_gene_id)

In [261]:
len(entrezid.keys())

759

In [262]:
real_duplicates = {}
for gene in entrezid.keys():
    if len(entrezid[gene])>1:
        real_duplicates[gene] = entrezid[gene]

In [263]:
real_duplicates

{5625.0: ['ENSG00000277196', 'ENSG00000100033'],
 54471.0: ['ENSG00000100335', 'ENSG00000285025'],
 8195.0: ['ENSG00000125863', 'ENSG00000285508', 'ENSG00000285723'],
 6606.0: ['ENSG00000205571', 'ENSG00000172062'],
 29057.0: ['ENSG00000268350', 'ENSG00000179304'],
 1159.0: ['ENSG00000237289', 'ENSG00000223572'],
 552900.0: ['ENSG00000169627', 'ENSG00000183336'],
 79008.0: ['ENSG00000132207', 'ENSG00000181625'],
 3963.0: ['ENSG00000178934', 'ENSG00000205076'],
 1673.0: ['ENSG00000177257', 'ENSG00000171711'],
 55894.0: ['ENSG00000177243', 'ENSG00000176797'],
 245908.0: ['ENSG00000186599', 'ENSG00000186562'],
 245910.0: ['ENSG00000198129', 'ENSG00000186572'],
 10156.0: ['ENSG00000105808', 'ENSG00000170667'],
 643862.0: ['ENSG00000262461',
  'ENSG00000275976',
  'ENSG00000186645',
  'ENSG00000274570',
  'ENSG00000273520'],
 641776.0: ['ENSG00000286038', 'ENSG00000286014', 'ENSG00000286137'],
 51326.0: ['ENSG00000185829', 'ENSG00000228696']}

In [264]:
human_mouse_homolog_genes

,human_ensembl_gene_id,human_entrezgene_id,human_external_gene_name,mouse_homolog_ensembl_gene,orthology_type,mouse_homolog_gene_name
0,ENSG00000198888,4535.0,MT-ND1,ENSMUSG00000064341,ortholog_one2one,mt-Nd1
1,ENSG00000198763,4536.0,MT-ND2,ENSMUSG00000064345,ortholog_one2one,mt-Nd2
2,ENSG00000198804,4512.0,MT-CO1,ENSMUSG00000064351,ortholog_one2one,mt-Co1
3,ENSG00000198712,4513.0,MT-CO2,ENSMUSG00000064354,ortholog_one2one,mt-Co2
4,ENSG00000228253,4509.0,MT-ATP8,ENSMUSG00000064356,ortholog_one2one,mt-Atp8
...,...,...,...,...,...,...
21936,ENSG00000187017,83715.0,ESPN,ENSMUSG00000028943,ortholog_one2one,Espn
21937,ENSG00000198216,777.0,CACNA1E,ENSMUSG00000004110,ortholog_one2one,Cacna1e
21938,ENSG00000179930,127665.0,ZNF648,ENSMUSG00000066797,ortholog_one2one,Zfp648
21939,ENSG00000162437,55225.0,RAVER2,ENSMUSG00000035275,ortholog_one2one,Raver2
21940,ENSG00000122432,100505741.0,SPATA1,ENSMUSG00000028188,ortholog_one2one,Spata1

# Write the results

In [241]:
human_mouse_homolog_genes.to_csv(os.path.join(path_data, 'homolog_human_mouse_ensembl_gene.csv'))